
.heart-icon {
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  .animate-heart {
    animation: heartAnimation 0.5s ease-in-out; 
  }
  
  @keyframes heartAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5); 
    }
    100% {
      transform: scale(1); 
    }
  }
  